<%- include("../partials/header")%>
<!-- <%- include("../partials/navbar")%> -->


<div class="container" style="margin-top: 3rem;">
   
        
            <form class="validated-form" action="/register" method="POST" style="width: 60%; margin: 10px auto;" novalidate>
                <%- include("../partials/flash")%>
                
                <h2 class="mb-5">Sign Up</h2>
                <div class="mb-3">
                  <label for="username" class="form-label">UserName</label>
                  <input type="text" class="form-control" id="username" placeholder="username" name="username" required>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">PassWord</label>
                    <input type="password" class="form-control" id="password" placeholder="password" name="password" required>
                  </div>
                
                <button type="submit" class="btn btn-success">SignUp</button>
              </form>
        </div>
   
    

<%- include("../partials/footer")%>